<nav id="nav-main">
	<li><a href="/animations">Animations</a></li>
	<li><a href="/">Bio</a></li>
	<li><a href="/commission">Commission</a></li>
	<a href="javascript:void(0);" id="navToggler"><img src="https://img.icons8.com/nolan/64/geometric-flowers.png"/></a>
</nav>