/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* mobile compatibility fix? */
body {
  min-height: -webkit-fill-available;
  padding-bottom: 70px;
}
::selection {
  background-color: rgba(84, 10, 145, 0.95);
  color: rgb(149, 236, 252);
}

/* ================ */
/* General styling  */
/* ================ */

:root {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
@media screen and (max-width: 800px) {
  :root {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 600px) {
  :root {
    font-size: 14px;
    line-height: 21px;
  }
}
body {
  margin: 0;
  background-color: rgb(198, 133, 241);
  z-index: 0;
  font-family: "Cabin", sans-serif;
  cursor: url("../assets/cursors/Hoof cursor.cur"), default;
}

#all-content {
  margin-left: auto;
  margin-right: auto;
  /* transition: margin .5s ease-in-out; */
}
section {
  padding-top: 100px;
}
footer {
  padding-top: 75px;
  text-align: center;
}
section > h2 {
  font-size: 4rem;
  text-shadow: -1px -2px 13px #f0e1f5;
}
ul {
  list-style: none;
}
#mainList > li {
  padding-top: 8vh;
  padding-bottom: 6vh;
}
#mainList > li:first-child {
  padding-top: 30vh;
  padding-left: 20vh;
  padding-bottom: 20vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: url("../assets/cursors/Goat Text Select.cur"), text;
  transition: font-size 0.2s 0s ease-out;
}
h1 {
  font-family: "Cinzel Decorative", sans-serif;
  font-weight: 700;
  font-size: 3.3em;
  line-height: 1.1em;
}
h2 {
  font-weight: 400;
  font-size: 2.5em;
  line-height: 1.1em;
  text-align: center;
  margin: 20px auto 30px auto;
}
h3 {
  font-weight: 400;
  font-size: 2em;
  line-height: 1.1em;
  text-align: center;
}
h4 {
  font-size: 1.75rem;
  line-height: 1.1em;
}
h5 {
  font-size: 1.5rem;
  line-height: 1.1em;
}
h6 {
  font-size: 1.25rem;
  line-height: 1.1em;
}
p {
  font-size: 1rem;
  margin: 20px 30px;
  line-height: 1.7em;
}
li {
  font-size: 1rem;
  margin: 20px 30px;
  line-height: 2em;
}
button {
  padding: 1em;
  font-size: 2em;
  font-family: Ubuntu, sans-serif;
}
a,
a *,
button,
button * {
  cursor: url("../assets/cursors/lavra_goat.cur"), pointer;
}
a {
  /* color: rgba(169, 10, 243, 0.75); */
  color: rgba(212, 159, 237, 0.86);
  transition: color 0.2s ease-out, -webkit-text-stroke-color 0.2s ease-out;
  font-size: inherit;
}
a:hover {
  color: rgba(255, 183, 134, 0.877);
}
h1 a,
h2 a,
h3 a,
.tech-table a,
.hologram .display a,
.tubey a {
  -webkit-text-stroke-width: 1px;
  font-weight: 700;
  -webkit-text-stroke-color: rgba(140, 63, 175, 0.88);
}
h1 a,
h2 a {
  -webkit-text-stroke-width: 2px;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
.tech-table a:hover,
.hologram .display a:hover,
.tubey a:hover {
  -webkit-text-stroke-color: rgba(218, 69, 193, 0.88);
}
img.preview {
  max-width: 120px;
  max-height: 120px;
}

.padded {
  padding-right: 4vw;
  padding-left: 4vw;
  max-width: 92vw;
}

/* Quill editor styles */
.ql-toolbar.ql-bubble,
.ql-toolbar.ql-snow,
.ql-container.ql-bubble,
.ql-container.ql-snow {
  border-color: rgb(37, 151, 207) !important;
  border-radius: 3px;
}

/*===========================*/
/* Small screen size changes */
/*===========================*/

@media screen and (max-width: 1300px) {
  #nav-main {
    height: 65px;
  }
  .topMargined {
    margin-top: calc(20vh + 51px);
  }
  /* #all-content {
        margin-left: 75px;
        margin-right: 75px;
    } */
}
@media screen and (max-width: 1007px) {
  #nav-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: auto;
  }
  #nav-main > li {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #nav-main.collapsed > li {
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
  }
  #nav-main > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #navToggler {
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  #navToggler:active {
    -webkit-transform: translate(-40px, 3px);
    -ms-transform: translate(-40px, 3px);
    transform: translate(-40px, 3px);
  }
  /* #all-content {
    margin-left: 75px;
  } */
}
@media screen and (max-width: 450px) {
  h2 {
    font-size: 2em;
  }
}
