/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* mobile compatibility fix? */
body {
  min-height: -webkit-fill-available;
  padding-bottom: 70px;
}
::selection {
  background-color: rgba(84, 10, 145, 0.95);
  color: rgb(149, 236, 252);
}

/* ================ */
/* General styling  */
/* ================ */

:root {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}
@media screen and (max-width: 800px) {
  :root {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 600px) {
  :root {
    font-size: 14px;
    line-height: 21px;
  }
}
body {
  margin: 0;
  background-color: rgb(198, 133, 241);
  z-index: 0;
  font-family: "Cabin", sans-serif;
  cursor: url("../assets/cursors/Hoof cursor.cur"), default;
}

#all-content {
  margin-left: auto;
  margin-right: auto;
  /* transition: margin .5s ease-in-out; */
}
section {
  padding-top: 100px;
}
footer {
  padding-top: 75px;
  text-align: center;
}
section > h2 {
  font-size: 4rem;
  text-shadow: -1px -2px 13px #f0e1f5;
}
ul {
  list-style: none;
}
#mainList > li {
  padding-top: 8vh;
  padding-bottom: 6vh;
}
#mainList > li:first-child {
  padding-top: 30vh;
  padding-left: 20vh;
  padding-bottom: 20vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: url("../assets/cursors/Goat Text Select.cur"), text;
  transition: font-size 0.2s 0s ease-out;
}
h1 {
  font-family: "Cinzel Decorative", sans-serif;
  font-weight: 700;
  font-size: 3.3em;
  line-height: 1.1em;
}
h2 {
  font-weight: 400;
  font-size: 3em;
  line-height: 1.1em;
  text-align: center;
  margin: 20px auto 30px auto;
}
h3 {
  font-weight: 400;
  font-size: 2em;
  line-height: 1.1em;
  text-align: center;
}
h4 {
  font-size: 1.75rem;
  line-height: 1.1em;
}
h5 {
  font-size: 1.5rem;
  line-height: 1.1em;
}
h6 {
  font-size: 1.25rem;
  line-height: 1.1em;
}
p {
  font-size: 1rem;
  margin: 20px 30px;
  line-height: 1.7em;
}
li {
  font-size: 1rem;
  margin: 20px 30px;
  line-height: 2em;
}
button {
  padding: 1em;
  font-size: 2em;
  font-family: Ubuntu, sans-serif;
}
a,
a *,
button,
button * {
  cursor: url("../assets/cursors/lavra_goat.cur"), pointer;
}
a {
  color: rgba(169, 10, 243, 0.75);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(140, 63, 175, 0.88);
  transition: color 0.2s ease-out;
  font-size: inherit;
}
a:hover {
  color: rgba(255, 183, 134, 0.877);
  -webkit-text-stroke-color: rgba(218, 69, 193, 0.88);
}
img.preview {
  max-width: 120px;
  max-height: 120px;
}

.padded {
  padding-right: 4vw;
  padding-left: 4vw;
  max-width: 92vw;
}

/* ====================== */
/* Glowy text effect */
/* ====================== */

/* animation attached with jquery to "umbral" elements */
.darklyGlowing {
  -webkit-animation-name: darkGlow;
  animation-name: darkGlow;
  -webkit-animation-timing-function: cubic-bezier(0.777, 0.265, 0.3, 0.813);
  animation-timing-function: cubic-bezier(0.777, 0.265, 0.3, 0.813);
}
.umbral.slow {
  -webkit-animation-duration: 13s;
  animation-duration: 13s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.umbral.fast {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes darkGlow {
  0% {
    text-shadow: none;
  }
  17% {
    text-shadow: -1px -2px 30px #ba8cb9, -4px -4px 7px #423042;
  }
  34% {
    text-shadow: 0px 3px 6px #ba8cb9, -1px 5px 8px #423042;
  }
  50% {
    text-shadow: 3px -3px 20px #ba8cb9, 5px -4px 10px #423042;
  }
  66% {
    text-shadow: -5px 1px 14px #ba8cb9, -7px -1px 19px #423042;
  }
  83% {
    text-shadow: 4px -1px 7px #ba8cb9, 8px 2px 13px #423042;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes darkGlow {
  0% {
    text-shadow: none;
  }
  17% {
    text-shadow: -1px -2px 30px #ba8cb9, -4px -4px 7px #423042;
  }
  34% {
    text-shadow: 0px 3px 6px #ba8cb9, -1px 5px 8px #423042;
  }
  50% {
    text-shadow: 3px -3px 20px #ba8cb9, 5px -4px 10px #423042;
  }
  66% {
    text-shadow: -5px 1px 14px #ba8cb9, -7px -1px 19px #423042;
  }
  83% {
    text-shadow: 4px -1px 7px #ba8cb9, 8px 2px 13px #423042;
  }
  100% {
    text-shadow: none;
  }
}
.ethereal {
  text-shadow: none;
  -webkit-transition: text-shadow 0.8s !important;
  -o-transition: text-shadow 0.8s !important;
  transition: text-shadow 0.8s !important;
}
.ethereal:hover {
  text-shadow: 0px -3px 9px #ffc2fb, 0px 0px 13px #0b4a63;
  -webkit-transition: text-shadow 0.5s 1.35s !important;
  -o-transition: text-shadow 0.5s 1.35s !important;
  transition: text-shadow 0.5s 1.35s !important;
}
.etherealPulser {
  -webkit-animation-name: etherealPulse !important;
  animation-name: etherealPulse !important;
  -webkit-animation-duration: 1.3s !important;
  animation-duration: 1.3s !important;
  -webkit-animation-delay: 0.05s !important;
  animation-delay: 0.05s !important;
  -webkit-animation-timing-function: cubic-bezier(
    0.777,
    0.265,
    0.3,
    0.813
  ) !important;
  animation-timing-function: cubic-bezier(0.777, 0.265, 0.3, 0.813) !important;
}
@-webkit-keyframes etherealPulse {
  0% {
    text-shadow: none;
  }
  25% {
    text-shadow: 0px -3px 13px #ffc2fb, 0px 0px 15px #0b4a63;
  }
  100% {
    text-shadow: none;
  }
}
@keyframes etherealPulse {
  0% {
    text-shadow: none;
  }
  25% {
    text-shadow: 0px -3px 13px #ffc2fb, 0px 0px 15px #0b4a63;
  }
  100% {
    text-shadow: none;
  }
}

/*===========================*/
/* Small screen size changes */
/*===========================*/

@media screen and (max-width: 1300px) {
  #nav-main {
    height: 65px;
  }
  .topMargined {
    margin-top: calc(20vh + 51px);
  }
  /* #all-content {
        margin-left: 75px;
        margin-right: 75px;
    } */
}
@media screen and (max-width: 1007px) {
  #nav-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: auto;
  }
  #nav-main > li {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #nav-main.collapsed > li {
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
  }
  #nav-main > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #navToggler {
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  #navToggler:active {
    -webkit-transform: translate(-40px, 3px);
    -ms-transform: translate(-40px, 3px);
    transform: translate(-40px, 3px);
  }
  /* #all-content {
    margin-left: 75px;
  } */
}
