<%- include('./partials/header'); %>
<!-- <video autoplay muted loop id="backgroundVideo">
  <source src="assets/particleVideo.mp4" type="video/mp4">
</video> -->
<div id="header" class="sticky">
	<h1>
		Commissions
	</h1>
</div>

<link rel="stylesheet" type="text/css" href="/stylesheets/commissions.css">
<!-- <img id="background-image" class="parallax" src="https://c.pxhere.com/photos/5d/f3/sunset_mountain_cloud_sunrise_mountain_range-16427.jpg!d"></img> -->
<!-- <img id="background-image" class="parallax" src="https://jooinn.com/images1280_/panoramic-landscape.jpg"></img> -->
<!-- <img id="background-image" class="parallax" src="https://c.pxhere.com/photos/8a/b8/leica_travel_winter_sunset_red_sky_italy_orange-233032.jpg!d"></img> -->
<img id="background-image" class="parallax" src="/assets/mountain and green pan.jpg"></img>
<div class="container" id="all-content">
	<section>
		<h3>
			Commissions are open for individuals and startups!
		</h3>
	</section>
	<section>
		<h2 class="pop">
			Website Design, Construction, and Deployment
		</h2>
		<h4>
			<em>From concept to experience</em>
		</h4>
		<p>
			I make websites from start to finish. Building on your aesthetic vision for what you want your website to look like, I will design you a full-stack website complete with payment processing, file uploading, data storage, routing, galleries, and custom features, all tailored for your unique needs.
		</p>
	</section>
	<section>
		<h2 class="pop">
			Impress Your Audience
		</h2>
		<p>
			On today's Internet, seamless and performant animation is no longer optional if you want to woo your viewers. A website that doesn't move and doesn't adapt to different browser windows is seen as antiquated and low-effort. Breathe life into the time that your audience spends with your creations by adding CSS animations. 
		</p>
	</section>
	<section>
		<h2 class="pop">
			Showcase Your Work Elegantly
		</h2>
		<p>
			Your work deserves to shine, and hosting your content on a website with thousands or millions of other creators can make this challenging. While hubs like Fur Affinity, deviantArt, or Archive of Our Own can certainly draw customers to your content, these common galleries do nothing to highlight your aesthetic strengths. 
		</p>
	</section>
	<section>
		<h2 class="pop">
			Monetize Your Creations
		</h2>
		<p>
			Monetizing your art is one of the more difficult challenges faced by artists. Despite the millions of users on the typical gallery site, it is highly unusual for people to make a significant amount of money without their own paid content. 
		</p>
		<!-- <p>
			Art markets vary. Selling your art through a publishing house, whether print or digital, puts you into a box. Don't 
		</p>
		<p>
			RainToday's research has shown that 97% of customers base their purchase decisions on the product's website.
		</p>
		<p>
			If you create multiple kinds of content, such as visual art, stories, films, have a  -->
		</p>
	</section>
    <section>
        <h1><a href="commission-terms" id="intriguer"><button>I'M INTRIGUED</button></a></h1>
    </section>
	<section id="contact-info">
		<h3>
			Contact for quotes! My Gmail address is reconcilographer.
		</h3>
	</section>
	<!-- <section>
		<a href="/commission-terms">Terms of Service</a>
	</section> -->
</div>



<%- include('./partials/footer'); %>