<%- include('./partials/header'); %>
<div id="header" class="sticky">
	<h1>
		Let's Talk!
	</h1>
</div>
<link rel="stylesheet" type="text/css" href="/stylesheets/commissions.css">
<!-- <video autoplay muted loop id="backgroundVideo">
  <source src="assets/particleVideo.mp4" type="video/mp4">
</video> -->

<img id="background-image" class="parallax" src="https://c.pxhere.com/photos/5d/f3/sunset_mountain_cloud_sunrise_mountain_range-16427.jpg!d"></img>

<div class="container" id="all-content">
	<section>
        <h2 class="pop">Walkthrough</h2>
        <p>Freelancers all have their own processes for how they work with a client to get a website up and running. Corporate services offer very powerful buzzwords with hefty lists of add-ons, but the process can be confusing and off-putting. As a one-person studio, I offer to create you personalized websites that aren’t just a place to plant your flag, but are collaborative art pieces with technological freedom. Let me guide you through my process:</p>
        <ol>
            <li>Send me a message outlining what kind of website you want me to build. Let me know some times you would be available for a conversation. Text conversation and calls are both fine.</li>
            <li>When we meet, we’ll discuss the scope of the project: design goals, how it will be used, traffic expectation, budget, payment schedule, and a time-frame for completion.</li>
            <li>If necessary, I’ll explain how web hosting and domain names work, and help you make an educated choice for what services to choose.</li>
            <li>If you haven’t already acquired a domain name and hosting service, I’ll show you how. You’ll then send me your login info for these two accounts so I can upload my work and get it routed correctly.</li>
            <li>I’ll spend some time getting creative. I’ll send you screencaps and mockups of what I’m envisioning, and at this point we can make major course corrections or aesthetic changes.</li>
        	<li>Once I finish the backbone for your desktop site, I’ll run it by you for feedback and iteratively make additions and changes.</li>
            <li>Once you’re satisfied with how it generally looks and works, I will fine tune, bug test, make the styles adaptive to multiple screen sizes and mobile usability, etc. until I am comfortable passing it off.</li>
        	<li>I’ll upload the finished project to your hosting service and hook up the DNS from your namespace provider. We’re done! Your completed commission will come with a fixed rate for work in the next year such as feature requests or style changes.</li>
        	<li>For one month after we’ve decided the website is finished, I’ll fix any errors with what I programmed for free. Note that this only includes bugs, typos, and unexpected behavior.</li>
            <li>After some amount of time, I will follow up with a post-mortem to ensure everything is working correctly. I’ll ask some questions about how your commission experience was to make sure I’m offering you the best possible service.</li>
        </ol>
    </section>
    <section>
        <h2 class="pop">Prices</h2>
    </section>
        <div class="tech-table">
            <div>
                <h5>Turning your idea into a basic, static website. Including styling, animation, and getting it online:</h5>
            </div>
            <div>
                <h4>
                    $500
                </h4>
                <em>(Hosting costs not included. Those are handled by client directly)</em>
            </div>
        </div>
        <div class="tech-table">
            <div>
                <h5>Adding custom, simple content management</h5>
                <em>(e.g. users, articles, images)</em>
            </div>
            <div>
                <h4>
                    $200
                </h4>
                <p><em>or</em></p>
                <h4>
                    $100 when packaged with website creation
                </h4>
            </div>
        </div>
        <div class="tech-table">
            <div>
                <h5>Adding complex content management</h5>
                <em>(e.g. highly interconnected data, advanced search)</em>
            </div>
            <div>
                <h4>
                    $300 and up, depending on complexity
                </h4>
            </div>
        </div>
        <div class="tech-table">
            <div>
                <h5>Making changes to an existing site</h5>
            </div>
            <div>
                <h4>
                    $30 / hour
                </h4>
            </div>
        </div>
        <div class="tech-table">
            <div>
                <h5>Visualizations and graphs</h5>
            </div>
            <div>
                <h4>
                    $30 / item
                </h4>
            </div>
        </div>
        <div class="tech-table">
            <div>
                <h5>Content writing</h5>
            </div>
            <div>
                <h4>
                    $50 / page
                </h4>
            </div>
        </div>

    <section>
        <h2 class="pop">💽ounts</h2>
        <ol>
            <li>I am actively looking to build up my client base. If you refer people to me who follow through on commissions, I’ll give you a 10% discount on your own commission. If you’ve already paid me, I will rebate you for your last commission once the person you’ve referred has submitted their final payment.</li>
            <li>If I have finished a commission to make you a website, for the next year I will give a 10% discount for work on that website and a 5% discount on other commissions.</li>
        </ol>
    </section>
    <section>
        <h2 class="pop">💽laimers</h2>
        <ul>
            <li>I can be flexible with payment for people who demonstrate great need, such as those starting nonprofits or creating works of activism. Such flexibility is up to my discretion, as I have my own political agenda and living needs.</li>
            <li>A great deal of my work involves the creative work leading up to the initial demos. If at any point you decide to cancel your commission contract with me, you still walk away with any design ideas I’ve come up with for you. Therefore, payments are non-refundable.</li>
            <li>Unexpected bugs do occur, and I cannot offer refunds for glitches or other surprising behavior, but I do include a month of free bug-fixing for work I have done. As long as you point it out within the month, it is covered, even if I don’t fix it within that timeframe.</li>
            <li>Clients will be served in the order in which they made their payments.</li>
        </ul>
    </section>


    <section id="contact-info">
		<h3>
			Contact for quotes! My Gmail address is reconcilographer.
		</h3>
        <h4>
            <a href="/commission">Go Back to Commission Information</a>
        </h4>
    </section>
</div>



<%- include('./partials/footer'); %>