<%- include('./partials/header'); %>
<!-- <video autoplay muted loop id="backgroundVideo">
  <source src="assets/particleVideo.mp4" type="video/mp4">
</video> -->
<div id="header" class="sticky">
	<h1>
		Terms of Service
	</h1>
	<ol>
		<li>
			The following terms are defined as follows:
			<ul>
				<li>"content": all website code, design, animations, etc made by the creator</li>
				<li>"the creator": Lavra Tamutus</li>
				<li>"": </li>
			</ul>
		</li>
		<li>Payment is to be made in full prior to the provision of content. The creator will perform a </li>
		<li>Clients will be served in the order in which they made their payments.</li>
	</ol>
</div>

<div class="container" id="allContent">
	<a href="/commission">Go Back to Commission Information</a>
</div>



<%- include('./partials/footer'); %>