<%- include('./partials/galleryheader'); %>
<img id="background-image" src="assets/nightsky.jpeg">
<!-- <video autoplay muted loop id="backgroundVideo">
  <source src="assets/particleVideo.mp4" type="video/mp4">
</video> -->
<div id="header" class="sticky">
	<h1 class="umbral slow">
		Animations
	</h1>
</div>


<div class="container" id="allContent">
	<section class="container" id="animations">
		<h2>
			CSS Animations
		</h2>
		<div class="row">
			<div class="col-sm">
				<div class="flag">
					<div class="top stripe animatedWave"></div>
					<div class="black colored stripe animatedWave"></div>
					<div class="purple colored stripe animatedWave"></div>
					<div class="white colored stripe animatedWave"></div>
					<div class="yellow colored stripe animatedWave"></div>
					<div class="bottom blank"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<div id="sunrise">
					<div id="sky">
						<div id="cloud1" class="cloud">
							<div class="fluff"></div>
							<div class="fluff"></div>
							<div class="fluff"></div>
							<div class="fluff"></div>
						</div>
						<div id="cloud2" class="cloud">
							<div class="fluff"></div>
							<div class="fluff"></div>
							<div class="fluff"></div>
							<div class="fluff"></div>
						</div>
						<div id="cloud3" class="cloud">
							<div class="fluff"></div>
							<div class="fluff"></div>
							<div class="fluff"></div>
							<div class="fluff"></div>
						</div>
						<div class="sun horizontal">
							<div class="sun vertical"></div>
						</div>
					</div>
					<div id="ground"></div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm">
				<div id="loader" class="loading">
					<div class="loading square">
						<h1>Loading</h1>
					</div>
					<div class="loading square"></div>
					<div class="loading square"></div>
					<div class="loading square"></div>
				</div>
				<button id="completeButton" class="ethereal" onClick="completeLoading()">
					Finish Loading
				</button>
			</div>
		</div>
		
		<div class="row">
			Animations by Lavra Tamutus
		</div>
		
	</section>
</div>



<%- include('./partials/footer'); %>