<%- include('./partials/header'); %>
<video autoplay muted loop id="backgroundVideo">
  <source src="assets/particleVideo.mp4" type="video/mp4">
</video>
<div id="header" class="sticky">
	<h1>
		Lavra Tamutus
	</h1>
</div>

<div id="all-content">
	<ul id="mainList">
		<li>
			<h2>
				Freelance Web Developer, Designer, & Activist
			</h2>	
		</li>
		<li>
			<h2>
				Creator and Programmer of <a href="https://magnova.space">Magnova</a>
			</h2>
		</li>
		<li>
			<div id="project-ions" class="theater">
                <img src="/assets/Better Curtains.png" class="overlay">
                <h2>
                    Project(ion)s
                </h2>
                <div class="projector">
                    <div class="projections">
                        <div class="projection" data-title="BOLD">
                            <a href="https://bold-website.herokuapp.com/"><h3>BOLD website creation</h3></a>
                            <img src="https://bold-website.herokuapp.com/assets/BOLD%20logo.jpg">
                        </div>
                        <div class="projection" data-title="Magnova">
                            <a href="https://magnova.space"><h3>Magnova Carta</h3></a>
                            <img src="/assets/Magnova_logo_wip.png">
                        </div>
                        <div class="projection" data-title="Portfolio">
                            <h3>Portfolio development</h3>
                            <img>
                        </div>
                        <div class="projection" data-title="MoSo">
                            <h>Volunteering with <a href="https://moneylesssociety.com/">Moneyless Society</a></h3>
                            <img>
                        </div>
                    </div>
                </div>
                <div class="film">
                    <div class="still" data-title="BOLD">
                        <h5>BOLD website creation</h5>
                    </div>
                    <div class="still" data-title="Magnova">
                        <h5>Magnova Carta</h5>
                    </div>
                    <div class="still" data-title="Portfolio">
                        <h5>Portfolio development</h5>
                    </div>
                    <div class="still" data-title="MoSo">
                        <h5>Volunteering with Moneyless Society</h5>
                    </div>
                </div>
			</div>
		</li>
		<li>
			<h3>
				Technologies:
			</h3>
			<div class="tech-table">
                <div>
                    <h4>General</h4>
                    <ul>
                        <li>Javascript</li>
                        <li>Git</li>
                        <li>GitHub</li>
                    </ul>
                </div>
                <div>
                    <h4>Back-End Web</h4>
                    <ul>
                        <li>Node.js</li>
                        <li>Express</li>
                        <li>MongoDB and MongoDB Atlas</li>
                        <li>Mongoose</li>
                        <li>Mongoose-fuzzy-searching</li>
                    </ul>
                </div>
                <div>
                    <h4>Front-End Web</h4>
                    <ul>
                        <li>Responsive development</li>
                        <li>CSS design and animation</li>
                        <li>d3</li>
                        <li>Leaflet.js</li>
                    </ul>
                </div>
            </div>
		</li>
		<li>
			<p>
				Website created by Lavra Tamutus. <a href="https://www.pexels.com/video/changes-in-form-and-appearance-of-a-submerged-material-3163534/">Video by GamOl</a> from Pexels.
			</p>	
		</li>
	</ul>
</div>


<script src="/scripts/projector.js"></script>
<%- include('./partials/footer'); %>