<%- include('./partials/header'); %>
<video autoplay muted loop id="backgroundVideo">
  <source src="assets/particleVideo.mp4" type="video/mp4">
</video>
<div id="header" class="sticky">
	<h1>
	Lavra Tamutus
</h1>
</div>

<div class="container" id="allContent">
	<ul id="mainList">
		<li>
			<h2>
				Freelance Web Developer, Designer, & Activist
			</h2>	
		</li>
		<li>
			<h3>
				Current projects:
			</h3>
			<ul>
				<li>
					— Portfolio
				</li>
				<li>
					— Magnova Carta
				</li>
				<li>
					— Business Development for Structural Monitoring Solutions
				</li>
			</ul>
		</li>
		<li>
			<h3>
				Technologies:
			</h3>
			<ul>
				<li>
					— Javascript
				</li>
				<li>
					— Node
				</li>
				<li>
					— Express
				</li>
				<li>
					— MongoDB
				</li>
				<li>
					— Mongoose
				</li>
			</ul>
		</li>
		<li>
			<p>
				<a href="https://www.pexels.com/video/changes-in-form-and-appearance-of-a-submerged-material-3163534/">Video by GamOl</a> from Pexels.
			</p>	
		</li>
	</ul>
</div>



<%- include('./partials/footer'); %>