<%- include('./partials/header'); %>
<video autoplay muted loop id="backgroundVideo">
  <source src="assets/particleVideo.mp4" type="video/mp4">
</video>
<div id="header" class="sticky">
	<h1>
		Lavra Tamutus
	</h1>
</div>

<div class="container" id="allContent">
	<ul id="mainList">
		<li>
			<h2>
				Freelance Web Developer, Designer, & Activist
			</h2>	
		</li>
		<li>
			<h2>
				Creator and Programmer of <a href="https://magnova.space">Magnova</a>
			</h2>
		</li>
		<li>
			<h3>
				Current projects:
			</h3>
			<div id="project-ions">
                <div>
                    — BOLD website creation
                </div>
                <div>
					— Magnova Carta
				</div>
				<div>
					— Portfolio development
                </div>
                <div>
                    — Volunteering with <a href="https://moneylesssociety.com/">Moneyless Society</a>
                </div>
			</div>
		</li>
		<li>
			<h3>
				Technologies:
			</h3>
			<div class="tech-table">
                <div>
                    <h4>General</h4>
                    <ul>
                        <li>Javascript</li>
                        <li>Git</li>
                        <li>GitHub</li>
                    </ul>
                </div>
                <div>
                    <h4>Back-End Web</h4>
                    <ul>
                        <li>Node.js</li>
                        <li>Express</li>
                        <li>MongoDB and MongoDB Atlas</li>
                        <li>Mongoose</li>
                        <li>Mongoose-fuzzy-searching</li>
                    </ul>
                </div>
                <div>
                    <h4>Front-End Web</h4>
                    <ul>
                        <li>Responsive development</li>
                        <li>CSS design and animation</li>
                        <li>d3</li>
                        <li>Leaflet.js</li>
                    </ul>
                </div>
            </div>
		</li>
		<li>
			<p>
				Website created by Lavra Tamutus. <a href="https://www.pexels.com/video/changes-in-form-and-appearance-of-a-submerged-material-3163534/">Video by GamOl</a> from Pexels.
			</p>	
		</li>
	</ul>
</div>



<%- include('./partials/footer'); %>